<StackLayout class="page page-content" #layout>
    <Label class="page-icon fa" text="&#xf015;"></Label>
    <SearchForm (search)="buscar($event)"></SearchForm>
    <PullToRefresh (refresh)="onPull($event)">
        <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height: 1250px">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress(x)"></Image>
                    <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%">                    
                    </Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>
</StackLayout>